[submodule "deps/multi-compression"]
	path = deps/multi-compression
	url = https://github.com/Soostone/multi-compression.git
[submodule "deps/katip"]
	path = deps/katip
	url = https://github.com/Soostone/katip.git
[submodule "deps/aws-utils"]
	path = deps/aws-utils
	url = git@gitlab.com:soostone/shared/aws-utils.git
